<div class="copyright">
    Made with <i class="fa-solid fa-heart fa-beat text-danger"></i> by <span>{{ site.mati.name }}</span>.
</div>

<ul class="list-inline social-networks">
    {% for item in site.data.socialnetworks %}
    <li class="list-inline-item mr-0">
        <a class="{{ item.hover }}" data-placement="top" data-toggle="tooltip" href="{{ item.link }}"
           target="_blank" title="{{ item.title }}">
            <span class="fa-wrapper"><i class="{{ item.icon }}"></i></span>
        </a>
    </li>
    {% endfor %}
</ul>