<div class="copyright">
    Made with <span class="text-danger"><i class="fa fa-heart"></i></span> by <span>{{ site.mati.name }}</span>.
</div>

<ul class="list-inline social-networks">
    {% for item in site.data.socialnetworks %}
    <li class="list-inline-item">
        <a class="{{ item.hover }}" data-placement="top" data-toggle="tooltip" href="{{ item.link }}"
           target="_blank" title="{{ item.title }}">
            <span class="fa-wrapper"><i class="fa fa-{{ item.icon }} fa-fw"></i></span>
        </a>
    </li>
    {% endfor %}
</ul>