<meta name="author" content="Tien Mai (Mati)">
<title>{% if page.title %}{{ page.title }} | {% endif %}Tien Mai | Mati</title>
<link href="/favicon.png" rel="icon" type="image/png">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://cdnjs.cloudflare.com">
<link rel="preconnect" href="https://www.googletagmanager.com">
<link rel="preconnect" href="https://en.gravatar.com">
<link rel="preconnect" href="https://api.mati.plus">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap" rel="stylesheet">