<div class="links">
    <ul>
        <li class="small">
            <i class="fa-solid fa-cloud-arrow-down fa-fw"></i> <a href="/downloads">Downloads</a>
        </li>
        <li class="small">
            <i class="fa-solid fa-shield fa-fw"></i> <a href="/cctv">CCTV Support</a>
        </li>
        <li class="small">
            <i class="fa-solid fa-calendar-day fa-fw"></i> <a href="/am-lich">Âm Lịch</a>
        </li>
    </ul>
</div>
<div class="open-job">
    <p>I am actively seeking remote job opportunities.</p>
    <p>Please reach out to me if you have any positions available.</p>
</div>
<div class="links">
    <ul>
        <li>
            <i class="fa-solid fa-envelope-open-text fa-fw"></i>
            <a href="mailto:t@mati.vn" title="Tien Mail's email address">t@mati.vn</a>
        </li>
        <li>
            <i class="fa-solid fa-globe fa-fw"></i>
            <a class="mati-plus" href="https://mati.plus/?utm_source=mati.vn" target="_blank"
               title="Mati.Plus">mati.plus</a>
        </li>
    </ul>
    <ul>
        <li>
            <i class="fa-brands fa-github fa-fw"></i>
            <a href="https://github.com/matidev?utm_source=mati.vn" target="_blank" title="GitHub">/matidev</a>
        </li>
        <li>
            <i class="fa-brands fa-linkedin fa-fw"></i>
            <a href="https://linkedin.com/in/matidev?utm_source=mati.vn" target="_blank" title="LinkedIn">/matidev</a>
        </li>
        <li>
            <i class="fa-brands fa-square-x-twitter fa-fw"></i>
            <a href="https://x.com/matidev?utm_source=mati.vn" target="_blank" title="Twitter">/matidev</a>
        </li>
    </ul>
</div>