<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta name="description" content="The official website of Tien Mai (Mati)">
    <meta name="keywords" content="mati, matidev, matiplus, tien, mai, developer">
    {% include header.html %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    {% if page.styles %}{% if page.styles.first %}{% for item in page.styles %}
    <link href="{{ item }}" rel="stylesheet">
    {% endfor %}{% endif %}{% endif %}
    <link href="{{ '/assets/css/mati.vn.css?v=2.0.0' | absolute_url }}" rel="stylesheet">
    {% include analytics.html %}
</head>
<body>
{{content}}
{% if page.scripts %}{% if page.scripts.first %}{% for item in page.scripts %}
<script src="{{ item }}"></script>
{% endfor %}{% endif %}{% endif %}
</body>
</html>