---
layout: default
---
<article class="blog-post">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta text-muted">
        <i class="fa fa-clock-o fa-fw"></i> {{ page.date | date: "%B %d, %Y" }}
        <i class="fa fa-user-circle fa-fw ml-2"></i> {{ page.author }}
        <i class="fa fa-link fa-fw ml-2"></i> <a href="{{ page.url }}">Permalink</a>
    </p>
    <hr>
    <div class="post-content">
        {{ content }}
    </div>

    {% if page.references %}
    <div class="post-reference-links mt-4">
        <div class="d-inline-block text-muted">Reference:</div>
        {% if page.references.first %}
        <ul class="d-inline-block list-inline pl-2">
            {% for item in page.references %}
            <li class="list-inline-item">
                <a href="{{ item.link }}" target="_blank" title="Open the reference link">
                    {% if item.name %} {{ item.name }} {% else %} {{ item.link }} {% endif %}
                </a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <div class="d-inline-block">{{ page.references }}</div>
        {% endif %}
    </div>
    {% endif %}
</article>
